{% load static %}
<div class="small-container cart-page">
    {% if cart %}
    <table>
        <tbody><tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        {% for cart_items in cart.added_items.all %}
        <tr>
            <td>
                <div class="cart-info">
                    <img src="{{ cart_items.product.image.url }}">
                    <div>
                        <p>{{ cart_items.title }}</p>
                        <small>Price: ${{ cart_items.product.price }}</small>
                        <br>
                        <a href="">Remove</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="{{ cart_items.quantity }}"></td>
            <td>Price: ${{ cart_items.product.price }}</td>
        </tr>
        {% endfor %}
    </tbody></table>
    <div class="total-price">
        <table>
            <tbody><tr>
                <td>Subtotal</td>
                <td>$150.00</td>
            </tr>
            <tr>
                <td>Tax</td>
                <td>$20.00</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>$170.00</td>
            </tr>

            <tr>
                <td> </td>
                <td> <button>Confirm</button></td>
            </tr>
        </tbody></table>
    </div>
    {% else %}
    <p>Nothing in your Cart </p>
    {% endif %}
</div>